body {
  color: #5a6275;
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

.app {
  border: 1px solid #adb2be;
  border-radius: 4px;
  padding: 10px 40px;
}

form {
  padding: 20px 0 0px 0;
}

#current-location {
  position: relative;
  left: 100px;
  top: -39px;
}

h1 {
  color: #5a6275;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

h2 {
  font-size: 18px;
  padding: 25px 0 25px 0;
}

footer {
  font-size: 12px;
  text-align: right;
}

img {
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
  position: relative;
  left: 30px;
}

#weather-description {
  font-size: 12px;
  text-transform: capitalize;
}

.weatherNow {
  font-size: 100px;
  font-weight: 600;
  text-align: left;
}

#units {
  color: #737a8a;
  font-size: 24px;
  font-weight: lighter;
  cursor: pointer;
  transition: 200ms all ease-in-out;
  position: relative;
  top: -50px;
  left: -20px;
}

#units .active {
  color: #5a6275;
  cursor: default;
  text-decoration: none;
}

#units .active:hover {
  text-decoration: none;
}

#weather-description {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

.properties {
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  margin-top: 60px;
}

.forecast {
  font-size: 18px;
  margin: 50px 0 50px 0;
}

.minimumTemperature {
  color: #adb2be;
}

.more-information {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  border-radius: 30px;
  cursor: pointer;
  transition: 250ms all ease-in-out;
}

.more-information:hover {
  background: #fff;
  color: #126dc6;
}

footer {
  margin-top: 50px;
}
